.project {
  background-color: #141414;
  color: #f4f3f3;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 1.875rem;
}
.project__title {
  margin: 0.625rem 0 0.625rem 0;
  font-size: 1.6875rem;
}
.project__container {
  width: 100%;
  height: 100%;
  position: relative;
}
.project__img {
  width: 100%;
  height: 100%;
  filter: brightness(30%);
  border: 0.0625rem solid #00FF44;
}
.project__subtitle {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 0.9375rem;
  font-size: 1.25rem;
  z-index: 1;
}
.project__subtitle::first-letter {
  color: #00FF44;
}
.project__btn {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__btn .btn {
  padding: 0.9375rem;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  background-color: #409e74;
  border: none;
  color: #fff;
  border-radius: 0.625rem;
  z-index: 1;
}
.project .spaces__betwen-boxes {
  margin: 0.625rem;
}
.project .modal__container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(20, 20, 20, 0.6901960784);
  transition: 1s all ease;
  transform: translateX(-100%);
}
.project .modal__container .modal {
  width: 90%;
  height: 90%;
  background: #141414;
  border: 2px solid #00FF44;
  transition: transform 1s;
  transform: translateX(0);
  overflow-y: scroll;
}
.project .modal__container .project__figure {
  border: 1px solid #00FF44;
}
.project .modal__container .modal__close {
  transform: translateX(-200%);
  transition: transform 1s;
}
.project .modal__container .close {
  font-size: 1.25rem;
  padding: 0 0.625rem;
  background-color: rgb(121, 8, 8);
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 5;
}
.project .btn__modal-open {
  background: #409e74;
  padding: 1.25rem;
  border: none;
  border-radius: 1.25rem 0.3125rem 1.25rem 0.3125rem;
  border: 1px solid #00FF44;
  font-weight: 700;
  font-size: 1rem;
}
.project .btn__modal-open:active {
  transition: background 1s;
  background: green;
}
.project .btn {
  font-weight: 700;
  border: 1px solid #00FF44;
  cursor: pointer;
}
.project .btn a {
  color: #141414;
}

@media screen and (max-width: 425px) {
  .project__title {
    font-size: 1.875rem;
  }
  .project__subtitle {
    font-size: 1.5625rem;
  }
  .project__btn .btn {
    font-size: 0.9375rem;
  }
  .wrapper {
    display: flex;
    width: 100%;
  }
}
@media screen and (min-width: 320px) {
  .project .project__subtitle {
    font-size: 1.25rem;
  }
  .project .btn {
    padding: 0.625rem;
    margin-top: 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  .project__title {
    margin: 1.875rem;
  }
  .project .project__subtitle {
    font-size: 1.5625rem;
  }
  .project .btn {
    padding: 15px 1.25rem;
    margin-top: 0.625rem;
  }
  .wrapper {
    display: flex;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .project__figure {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .project__img {
    width: 60%;
  }
  .project .btn__modal-open {
    transform: translate(180%, 0%);
  }
  .wrapper {
    display: block;
    width: 23%;
  }
}
@media screen and (min-width: 1440px) {
  .project__figure {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .project__img {
    width: 40%;
  }
  .project .modal {
    width: 50%;
    height: 50%;
  }
  .project .modal__container .project__figure {
    border: none;
  }
  .project .btn__modal-open {
    transform: translate(260%, 0%);
  }
  .wrapper {
    display: flex;
    width: 40%;
  }
}

/*# sourceMappingURL=projects.css.map */
