@import 'variables';
@import 'menuHamburguesa';

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

*{
    font-family: 'Silkscreen', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
html,body{
    width: 100vw;
    overflow-x: hidden;
}
.header{
    width: 100%;
    height: 3.75rem;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    backdrop-filter: blur(20px);
    background:  $black-color;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    &__logo{
        text-align: center;
        color: $white-color;
        font-size: 1.5625rem;
        &::after{
            content: "/>";
            color: $primary-color;
        }
        &::before{
            content: "</";
            color: $primary-color;
        }
    }
    & .nav{
        position: absolute;
        top: 0;
        height: 0;
        width: 0;
        transition: 600ms all;
        border-radius: 50%;
        background-color: $black-color;
        
        &__ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            display: none;
            &.activo{
                display: flex;
                height: 100%;
                justify-content: space-evenly;
            }
        }
        &__links{
            margin: 1rem;
            text-align: center;
            font-size: 1.5625rem;

            &:hover{
                color: $black-color;
                background-color: $secondary-color;
                border-radius: 10px 0px 10px 0px;  
                padding: 0px .3125rem;
                transform: scale(1.2);
            }
        }
        &.activo{
            width: 100%;
            height: 100vh;
            border-radius: 0;
            overflow: hidden;
        }
    }  
    & a{
        color: $white-color;
    }
}
.main{
    background-color: $black-color;
    #particle-js{
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}
.presentation{
    max-width: 100vw;
    height: 90vh;
    background: $dark-theme;
    &__tab{
        display: flex;
        justify-content: space-evenly;
        flex-flow: row nowrap;
        padding-top: .625rem;
        &-li{
            background: $secondary-color;
            padding: .625rem;
            border-radius: .3125rem;
            border: 1px solid $primary-color;
            color: $black-color;
            font-size: .9375rem;
            transition: all .5s ease;
            &::first-letter{
                color: $white-color;
            }
            &:hover{
                background: green;
            }
            &.activo{
                background-color: green;
            }
        }
    }
}
.subpresentation__container{
    position: relative;
    min-height: 100%;
    // background-color: lightgreen;
    & .tabs__block{
        height: 75%;
        padding: .4em;
        position: absolute;
        top: 1em;
        opacity: 0;
        transform: translateY(100%);
        transition: all .5s ease;
        display: flex;
        flex-flow: column wrap;
        justify-content:space-evenly ;
        &.activo{
            opacity: 1;
            transform: translateY(0%);
        }
    }
    
    .tab__greetings{
        font-size: 1.25rem;
        text-align: center;
        color: $white-color;
    }
    .typewrite{
        display: block;
        color: $primary-color;
    }
    .btns{
        display: flex;
        justify-content: center;
        &__contact{
            margin: 1.25rem;
            padding: .3125rem;
            border-radius: .3125rem;
            border: 2px solid $primary-color;
            background: $secondary-color;
        }
    }
}

.formation__title{
    text-align: center;
    font-size: 1.875rem;
    color: $white-color;
    &::first-letter{
        color: $primary-color;
    }
}

.carrousel{
    width: 100%;
    max-width: 120em;
    overflow: hidden;
    &__container{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        transition: all .5s ease;
        transform: translateX(0%);
        .formation{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            &__img{
                width: calc(100%/2);
                border-radius:1.25rem;
                height: 150px;
            }
            &__text{
                color: white;
                margin: 1.25rem;
            }
        }
    }
    .points_ul{
        width: 100%;
        padding: 1em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        .point{
            cursor: pointer;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            background: linear-gradient(45deg, $white-color,$secondary-color);
            margin: 0.5rem 0.5em;
            box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2);
            &.activo{
                background: linear-gradient(-45deg,$primary-color,$secondary-color);
            }
        }
    }
}
.skill{
    min-width: 50vh;
    height: 100%;
    margin: .625rem;
    &__title{
        text-align: center;
        margin: 1.25rem;
        color: $white-color;
        &::first-letter{
            color:$primary-color;
        }
    }
    .skill_img{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img{
            margin: 1.25rem;
            width: 70px;
        }
    }
}


@media screen and (max-width:600px) {
    .header{
        width: 100%;
    }
    .skill{
        min-width: inherit;
        &__img{
            width: 100%;
        }
        &__title{
            font-size: 1.875rem;
        }
    }
    .presentation__tab{
        &-li{
            padding: 1.25rem;
            margin-top: 1.875rem;
        }
    }
    .subpresentation__container{
        .tab__greetings{
            font-size: 1.875rem
        }
        & .btns__contact{
            font-size: 1.25rem;
            padding: .9375rem 1.25rem;
        }
    }
    .formation__title{
        font-size: 2.1875rem;
    }
    .carrousel__container {
        width: 200%;
        .formation{
            margin-top: 0;
        }
        .formation__text{
            font-size:20px;
        }
    }
}
@media screen and (min-width:375px) {
    .carrousel__container {
        .formation__text{
            font-size:15px;
        }
    }
}
@media screen and (min-width:320px) {
    .header{
        &__logo{
            z-index: 0;
        }
    }
    .presentation__tab{
        &-li{
            padding:.625rem;
        }
    }
    .carrousel__container{
        .formation__text{
            font-size: .9375rem;
            margin: .625rem;
        }
    }
}

@media screen and (min-width:768px) {

    .header{
        &__logo{
            text-align: left;
            margin-left: 30px;
            z-index: 1;
            width: 30%;
        }
        .nav{
            width: 100%;
            &__ul{
                display: flex;
                flex-direction: row;
                justify-content:flex-end;
            }
            &__links{
                font-size: 1.0625rem;
            }
        }
    }
    .presentation__tab{
        padding-top: 1.25rem;
        &-li{
            padding: .625rem 1.5625rem;
        }
    }
    .subpresentation__container{
        .tab__greetings{
            font-size: 1.875rem;
        }
        .btns{
            &__contact{
                padding: .9375rem 1.25rem;
            }
        }
    }
    .carrousel{
        &__container{
            .formation{
                flex-flow: column;
                justify-content: center;
                &__text{
                    text-align: center;
                    font-size: 1.25rem;
                }
            }
        }
        .points_ul{
            display: none;
        }
    }
    .skill{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        .skill__title{
            font-size: 1.875rem;
        }
        .skill_img{
            gap: 60px;
        }
    }
}
@media screen and (min-width:1024px) {
    .carrousel__container{
        justify-content: center;
        .formation__img{
            height: 12.5rem;
        }
        .formation__text{
            width: 60%;
        }
    }
}
@media screen and (min-width:1440px){
    .header{
        height: 10vh;
        .nav__ul{
            height: 10vh;
            align-items: center;
        }
        .nav__links{
            font-size: 1.25rem;
            padding-right: 1.25rem;
        }
    }
    .subpresentation__container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        .tabs__block{
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        }
    }
    .carrousel__container{
        justify-content: center;
        .formation__img{
            height: 12.5rem;
        }
        .formation__text{
            width: 60%;
        }
    }
    .skill{
        justify-content: flex-start;
        .skill_img{
            flex: 2;
            width: 50%;
        }
    }
}
.wrapper{
        display: flex;
        justify-content: center;
        width: 35%;
}
@media screen and (min-width:1500px) {
    .subpresentation__container .tabs__block {
        width: 60%;
    }
    .skill{
        justify-content: center;
    }
    .presentation__tab{
        &-li{
            padding: 15px 1.875rem;
        }
    }
}