
@import 'variables';

.project{
    background-color: #141414;
    color: $white-color;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1.875rem;
    &__title{
        margin: .625rem 0 .625rem 0;
        font-size: 1.6875rem;
    }
    &__container{
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__img{
        width: 100%;
        height: 100%;
        filter: brightness(30%);
        border: .0625rem solid $primary-color;
    }
    &__subtitle{
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: .9375rem;
        font-size: 1.25rem;
        z-index: 1;
        &::first-letter{
            color: $primary-color;
        }
    }
    &__btn{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & .btn{
            padding: .9375rem;
            margin-right: 1.25rem;
            margin-left: 1.25rem;
            background-color: $secondary-color;
            border:none;
            color: #fff;
            border-radius: .625rem;
            z-index: 1;
        }
    }
    & .spaces__betwen-boxes{
        margin: .625rem;
    }

    .modal__container{
        opacity: 0;
        visibility: hidden;
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #141414b0;
        transition: 1s all ease;
        transform: translateX(-100%);
        .modal{
            width: 90%;
            height:90%;
            background: #141414;
            border: 2px solid $primary-color;
            transition: transform 1s;
            transform: translateX(0);
            overflow-y: scroll;
        }
        & .project__figure{
            border: 1px solid $primary-color;
        }
        .modal__close{
            transform: translateX(-200%);
            transition: transform 1s;
        }
        .close{
            font-size:1.25rem;
            padding: 0 .625rem;
            background-color: rgb(121, 8, 8);
            cursor: pointer;
            position: sticky;
            top: 0;
            z-index: 5;
        }

    }
    .btn__modal-open{
        background: $secondary-color;
        padding: 1.25rem;
        border: none;
        border-radius: 1.25rem.3125rem 1.25rem.3125rem;
        border: 1px solid $primary-color;
        font-weight: 700;
        font-size: 1rem;
        &:active{
            transition: background 1s;
            background: green;
        }
    }
    & .btn{
        font-weight: 700;
        border: 1px solid $primary-color;
        cursor: pointer;
        & a{
            color: #141414;
        }
    }
}

@media screen and (max-width:425px) {
    .project{
        &__title{
            font-size: 1.875rem;
        }
        &__subtitle{
            font-size: 1.5625rem;
        }
    }
    .project__btn{
        .btn{
            font-size: .9375rem;
        }
    }
    .wrapper{
        display: flex;
        width: 100%;
    }
}
@media screen and (min-width:320px) {
    .project{
        .project__subtitle{
            font-size: 1.25rem;
        }
        .btn{
            padding: .625rem;
            margin-top: .625rem;
        }
    }
}

@media screen and (min-width:768px) {
    .project{
        &__title{
            margin: 1.875rem;
        }
        .project__subtitle{
            font-size: 1.5625rem;
        }
        .btn{
            padding: 15px 1.25rem;
            margin-top: .625rem;
        }
    }
    .wrapper{
        display: flex;
        width: 100%;
    }
}
@media screen and (min-width:1024px) {
    .project{
        &__figure{
            display: flex;
            align-content: center;
            justify-content: center;
        }
        &__img{
            width: 60%;
        }
        .btn__modal-open{
            transform: translate(180%,0%);
        }
    }
    .wrapper{
        display: block;
        width: 23%;
    }
}

@media screen and (min-width:1440px){
    .project{
        &__figure{
            display: flex;
            align-content: center;
            justify-content: center;
        }
        &__img{
            width: 40%;
        }
        .modal{
            width: 50%;
            height: 50%;
            &__container{
                .project__figure{
                    border: none;
                }
            }
        }
        .btn__modal-open{
            transform: translate(260%,0%);
        }
    }
    .wrapper{
        display: flex;
        justify-content: center;
        width:19%;
    }
}